
# umbe stuff
/serial
.tm_properties

# hannes stuff
/mybuild


# svn 
.svn

#editors
*~
*.wp
*.swo

# autotools 

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/build-aux
*.in
